.header {
  padding: 100px 0 50px 20px; /* Adjust padding as needed */
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure header is above other elements, including the navbar */
}

.homebg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}



.header .title {
  color: white;
  padding: 50px 0 0 0; /* Adjust top padding */
}

.header img {
  padding-bottom: 20%;
  width: 100%; /* Make the image responsive to its container */
  max-width: 500px; /* Limit the maximum width of the image */
  height: auto;
}

.bldrop {
  position: absolute;
  max-height: 600px; /* Adjust the max-height as needed */
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(10px);
  }
}

.header .serviceBtn {
  padding-top: 30px;
}

.header .serviceBtn button {
  margin: 10px 0;
  padding: 6px 25px;
  cursor: pointer;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
  color: #ea0000;
  border: 1px solid #ed0000;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
}

.header .serviceBtn button:nth-of-type(1) {
  background-color: #ea0000;
  color: whitesmoke;
  border: none;
}

.header .serviceBtn button:hover:not(.header .serviceBtn button:nth-of-type(1)) {
  background-color: #e06a6a34;
}
